.mid{
    margin:0 auto;
    width: 700px;
}

.mtext{
    text-align: center;
}

.m_40u{
    margin: 40px auto;
}

.m_10{
    margin: 10px;
}

.border3{
    border: 3px black solid;
}

.textc{
    text-align: center;
}

.d_inline{
    display: inline;
}

.d_none{
    display: none;
}

.w40{
    width: 40%;
}
.w20{
    width: 20%;
}
.w10{
    width: 10%;
}
.w5{
    width: 5%;
}

.border1{
    border: 1px black solid;
}